## Income Prediction Based on Demographic and Socioeconomic Factors

### Summary

| Metric                                   | Value   | Description                                                                                                     |
|------------------------------------------|---------|-----------------------------------------------------------------------------------------------------------------|
| Accuracy                                 | 0.8524  | The overall accuracy of the model is approximately 85.24%. It indicates the proportion of correctly classified instances. A higher value suggests better performance. |
| Precision (<=50K)                        | 0.88    | The precision for instances labeled as <=50K is 0.88. Precision represents the proportion of true positive predictions over the total predicted instances for that class. |
| Recall (<=50K)                           | 0.93    | The recall (sensitivity) for instances labeled as <=50K is 0.93. Recall represents the proportion of true positive predictions over the total actual instances of that class. |
| F1-Score (<=50K)                         | 0.90    | The F1-score for instances labeled as <=50K is 0.90. The F1-score is the harmonic mean of precision and recall, providing a balance between the two metrics. |
| Precision (>50K)                         | 0.73    | The precision for instances labeled as >50K is 0.73. This means that the model is correct about 73% of the time when predicting >50K. |
| Recall (>50K)                            | 0.63    | The recall (sensitivity) for instances labeled as >50K is 0.63. The model identifies about 63% of the actual >50K instances in the dataset. |
| F1-Score (>50K)                          | 0.68    | The F1-score for instances labeled as >50K is 0.68. The F1-score takes into account both precision and recall for a class. |
| Macro-Average F1-Score                   | 0.79    | The macro-average F1-score considers both classes equally and is 0.79. It provides an overall measure of the model's performance without considering class imbalance. |
| Weighted-Average F1-Score                | 0.85    | The weighted-average F1-score is 0.85, considering class proportions in the test set. It indicates the F1-score when each class is weighted by the number of instances. |
| Confusion Matrix (<=50K True Positives)  | 4549    | There were 4549 instances correctly predicted as <=50K (true positives). |
| Confusion Matrix (<=50K False Positives) | 363     | There were 363 instances incorrectly predicted as >50K when they actually belong to <=50K (false positives). |
| Confusion Matrix (<=50K False Negatives) | 598     | There were 598 instances incorrectly predicted as <=50K when they actually belong to >50K (false negatives). |
| Confusion Matrix (>50K True Positives)   | 1002    | There were 1002 instances correctly predicted as >50K (true positives). |
| Support (<=50K)                          | 4912    | There are 4912 instances labeled as <=50K in the test set. The support represents the number of instances in each class. |
| Support (>50K)                           | 1600    | There are 1600 instances labeled as >50K in the test set. The support represents the number of instances in each class. |

### Importing Libraries

In [66]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

### Read Dataset

In [67]:
# Read csv data
df = pd.read_csv("adult.data.csv")

### Data Cleaning

In [68]:
# List of column names in the 'columns_list' variable
columns_list = ["age", "workclass", "final_weight", "education", "education_num",
                "marital_status", "occupation", "relationship", "race", "sex",
                "capital_gain", "capital_loss", "hours_per_week", "native_country", "income_flag"]

# Assign column names to the DataFrame
df.columns = columns_list

### Data Profiling

In [69]:
# Checking Nan values
df.isnull().sum()

age               0
workclass         0
final_weight      0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income_flag       0
dtype: int64

In [70]:
df

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income_flag
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### Update Dataset

In [71]:
# Updated data
df.to_csv("adult.updated.data.csv")

### Classification Model

In [72]:
# Split the data into features (X) and the target variable (y)
X = df.drop("income_flag", axis=1)
y = df["income_flag"]

# Convert categorical variables into numerical using one-hot encoding
X = pd.get_dummies(X)

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Classifier
rf_classifier = RandomForestClassifier(random_state=26)

# Train the classifier on the training data
rf_classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=26)

In [73]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate a classification report
print("Classification Report:")
print(classification_report(y_test, y_pred))

# Generate a confusion matrix
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.8513513513513513
Classification Report:
              precision    recall  f1-score   support

       <=50K       0.88      0.93      0.90      4912
        >50K       0.73      0.62      0.67      1600

    accuracy                           0.85      6512
   macro avg       0.81      0.78      0.79      6512
weighted avg       0.85      0.85      0.85      6512

Confusion Matrix:
[[4544  368]
 [ 600 1000]]

In [74]:
# Test data
test_data = {
    'age': 26,
    'workclass': 'Private',
    'fnlwgt': 220000,
    'education': 'Bachelors',
    'education-num': 13,
    'marital-status': 'Never-married',
    'occupation': 'Exec-managerial',
    'relationship': 'Unmarried',
    'race': 'White',
    'sex': 'Female',
    'capital-gain': 1000,
    'capital-loss': 0,
    'hours-per-week': 40,
    'native-country': 'United-States'
}

# Convert test_data into a DataFrame
test_df = pd.DataFrame([test_data])

# Perform one-hot encoding on categorical variables
# It turns the categorical variables (like workclass, education, etc.) into numerical values 
test_df = pd.get_dummies(test_df)

# Reorder the columns in test_df to match the order in X_train
test_df = test_df.reindex(columns=X.columns, fill_value=0)

# Make predictions using the trained classifier
predicted_income_flag = rf_classifier.predict(test_df)

print("Predicted income_flag:", predicted_income_flag[0])

Predicted income_flag:  <=50K

In [75]:
# Get the feature importances
feature_importances = rf_classifier.feature_importances_

# Get the indices that would sort the importances array in descending order
sorted_indices = np.argsort(feature_importances)[::-1]

# Print feature importances in descending order
print("Feature Importances (sorted):")
for index in sorted_indices:
    print(f"{X.columns[index]}: {feature_importances[index]}")

Feature Importances (sorted):
final_weight: 0.15869161250893546
age: 0.14994870525551138
capital_gain: 0.08989217050517943
hours_per_week: 0.08419702596996338
education_num: 0.06497283981034216
marital_status_ Married-civ-spouse: 0.06032166859796757
relationship_ Husband: 0.0469934847724404
capital_loss: 0.029190669150899188
marital_status_ Never-married: 0.025085614159032207
occupation_ Exec-managerial: 0.017101752742056636
occupation_ Prof-specialty: 0.015393901167747684
education_ Bachelors: 0.011551074101349867
workclass_ Private: 0.010942326848439972
relationship_ Wife: 0.010905235625377811
sex_ Male: 0.009887746466086504
relationship_ Not-in-family: 0.009415809915141243
education_ Masters: 0.008834668454587196
sex_ Female: 0.00879540872152152
workclass_ Self-emp-not-inc: 0.008478988233719502
relationship_ Own-child: 0.008253070829760413
marital_status_ Divorced: 0.008039229775370693
occupation_ Other-service: 0.008006755750143767
education_ HS-grad: 0.007661301399558045
occupation_ Sales: 0.007343874554384137
occupation_ Craft-repair: 0.006818611590251531
race_ White: 0.006519142966246717
native_country_ United-States: 0.0062641972048241784
occupation_ Adm-clerical: 0.005833941830029751
workclass_ Local-gov: 0.005697522448669528
workclass_ Self-emp-inc: 0.005606918359287293
workclass_ Federal-gov: 0.005306901599687781
education_ Some-college: 0.0051002144424185875
workclass_ State-gov: 0.0046943816998548625
occupation_ Tech-support: 0.004656081880601689
race_ Black: 0.004616661584037857
relationship_ Unmarried: 0.004383404709959868
occupation_ Farming-fishing: 0.004360624680859528
occupation_ Transport-moving: 0.004334344030398334
education_ Prof-school: 0.00428394035200561
occupation_ Machine-op-inspct: 0.0040751950190452005
education_ Doctorate: 0.003656740288152271
occupation_ Handlers-cleaners: 0.003228901858201238
race_ Asian-Pac-Islander: 0.0032254533699198453
education_ Assoc-voc: 0.0032166582478202472
occupation_ Protective-serv: 0.0031374307651808467
native_country_ ?: 0.0025637772705595723
education_ Assoc-acdm: 0.0024925725335710747
occupation_ ?: 0.0021033802814890614
education_ 11th: 0.002033094967875812
native_country_ Mexico: 0.001925882668174963
workclass_ ?: 0.0019133974457466087
education_ 7th-8th: 0.0019087475952212086
marital_status_ Separated: 0.001716252563854808
marital_status_ Widowed: 0.0015694478802848698
education_ 10th: 0.0014927931867672827
education_ 9th: 0.0013209962902674458
relationship_ Other-relative: 0.001315233315195131
race_ Amer-Indian-Eskimo: 0.0012590477450264703
native_country_ Germany: 0.001160358253678458
native_country_ Canada: 0.0009980220912730628
native_country_ Philippines: 0.0009161484539659293
native_country_ England: 0.0009117689953651502
race_ Other: 0.0008538770883307724
marital_status_ Married-spouse-absent: 0.0008454953386636655
education_ 12th: 0.0008253461697420642
native_country_ Cuba: 0.0007800759591615964
education_ 5th-6th: 0.0007262300436760986
native_country_ India: 0.0007123446985132393
native_country_ Italy: 0.0007042524439522863
native_country_ China: 0.000514653519793812
native_country_ South: 0.000501468474584381
native_country_ Japan: 0.0004993692769636492
native_country_ Iran: 0.0004623717721017484
native_country_ Puerto-Rico: 0.00046018764614312184
native_country_ Jamaica: 0.00042528705208294917
native_country_ Vietnam: 0.00034216128197003744
native_country_ Cambodia: 0.0003287573764538889
native_country_ Poland: 0.00031992745109429437
native_country_ France: 0.00031679740898747096
native_country_ Taiwan: 0.0003144848163927766
native_country_ Greece: 0.0003104197119790605
marital_status_ Married-AF-spouse: 0.00029432265185515445
native_country_ El-Salvador: 0.00026149105387936335
native_country_ Columbia: 0.00023963985381131694
native_country_ Ireland: 0.00022848637388085292
education_ 1st-4th: 0.0001999879309003627
native_country_ Portugal: 0.00019224478144599404
native_country_ Hungary: 0.00017429462512777127
native_country_ Haiti: 0.0001739431294502056
native_country_ Yugoslavia: 0.00016496784224527634
native_country_ Guatemala: 0.00016354746509189457
native_country_ Dominican-Republic: 0.0001434210976090445
native_country_ Nicaragua: 0.0001410274399985413
native_country_ Hong: 0.00013964741583536632
occupation_ Priv-house-serv: 0.00010585344387135923
native_country_ Ecuador: 0.00010493653613626841
native_country_ Trinadad&Tobago: 8.53135772234054e-05
native_country_ Scotland: 7.826857470732824e-05
native_country_ Thailand: 6.964808392500274e-05
native_country_ Laos: 6.388442306462481e-05
workclass_ Without-pay: 5.687806169858823e-05
native_country_ Peru: 5.5472849425508616e-05
education_ Preschool: 4.7058039396407336e-05
occupation_ Armed-Forces: 1.7756549641986416e-05
native_country_ Outlying-US(Guam-USVI-etc): 1.7356996808211817e-05
native_country_ Honduras: 1.0504005062608586e-05
workclass_ Never-worked: 3.4115667397807685e-06
native_country_ Holand-Netherlands: 2.3192948543401046e-09